@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes customFadeInOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
}
